4 proyectos -> presentacion(aspnet project web form) ve negocio,dominio + usings
			-> negocio  (class library) ve repositorio,dominio + usings
			-> repositorio (class library) ve dominio + usings
			-> dominio (class library) 
			
<form runat="server" class="form-horizontal"> en site master

borrar todos los scripts

> agregar 
boostrap.css
bosotrap-datepicker.css

jquery1.10.2.js
boostrap.js
bootstrap-datepicker.js
bootstrap-datepicker.es.min.js

> agregar
Persona.cs en dominio

string cadena = "Persist Security Info=False;User ID=sa;Password = zapala76;Initial Catalog=Examen;Data Source=LUCHITO-PC\\CUOTASYSTEM";

///////////////////////alta persona.aspx////////////////
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="container">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <asp:Label ID="lblNombre" runat="server" Text="Nombre:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtNombre" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
                <asp:Label ID="lblApellido" runat="server" Text="Apellido:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtApellido" runat="server" CssClass="form-control"></asp:TextBox>
                </div>

            </div>
            <div class="form-group">
                <asp:Label ID="lblEdad" runat="server" Text="Edad:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtEdad" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
                <asp:Label ID="lblCiudad" runat="server" Text="Ciudad:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtCiudad" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" runat="server" class="form-control" id="dtp_fechanac">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-md-offset-2">
                    <asp:Button ID="btnGuardar" runat="server" CssClass="btn btn-info" Text="Guardar" OnClick="btnGuardar_Click" />
                    <asp:Button ID="btnMostrarGrilla" runat="server" CssClass="btn btn-info" OnClick="btnMostrarGrilla_Click" Text="Mostrar Grilla" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <asp:GridView ID="gdvPersona" runat="server" AutoGenerateColumns="false" CssClass="table table-hover table-bordered">
                        <Columns>
                            <asp:BoundField HeaderText="Nombre" DataField="nombre" />
                            <asp:BoundField HeaderText="Apellido" DataField="apellido" />
                        </Columns>
                    </asp:GridView>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
	
	/////////////PersonaNego/////////////

    public class PersonaNego
    {
        public void GuardarPersona(Persona persona)
        {
            PersonaRepo.GuardarPersona(persona);       
        }
        public static DataTable listaPersonas()
        {
            return PersonaRepo.ListaPersonas();
        }
        public static DataTable listaPersonasPorID(int id)
        {
            return PersonaRepo.ListaPersonasPorID(id);
        }
        public static DataSet DropDownPersonas()
        {
            return PersonaRepo.DropDownPersonas();
        }
        public void ModificarPersona(Persona persona, int id)
        {
            PersonaRepo.ModificarPersona(persona, id);
        }
    }

//////////////////////PersonaRepo//////////////////
public class PersonaRepo
    {
        public static void GuardarPersona(Persona persona)
        {
            string cadena = "Data Source=santiago;Initial Catalog=progweb1;Integrated Security=true;";
            SqlConnection conexion = new SqlConnection(cadena);
            conexion.Open();
            string query = "insert persona values ('" + persona.Nombre + "','" + persona.Apellido + "','" + persona.Edad + "','" + persona.Ciudad + "','"+persona.Nacimiento+"');";
            SqlCommand cmd = new SqlCommand(query, conexion);
            cmd.ExecuteNonQuery();
            conexion.Close();
        }
        public static DataTable ListaPersonas()
        {
            DataTable dt = new DataTable();
            string cadena = "Data Source=santiago;Initial Catalog=progweb1;Integrated Security=true;";
            SqlConnection conexion = new SqlConnection(cadena);
            conexion.Open();
            string query = "select * from Persona";
            SqlCommand cmd = new SqlCommand(query, conexion);
            SqlDataAdapter data = new SqlDataAdapter(cmd);
            data.Fill(dt);
            conexion.Close();
            return dt;
        }
        public static DataTable ListaPersonasPorID(int id)
        {
            DataTable dt = new DataTable();
            string cadena = "Data Source=santiago;Initial Catalog=progweb1;Integrated Security=true;";
            SqlConnection conexion = new SqlConnection(cadena);
            conexion.Open();
            string query = "select * from persona where IDPersona="+id+";";
            SqlCommand cmd = new SqlCommand(query, conexion);
            SqlDataAdapter data = new SqlDataAdapter(cmd);
            data.Fill(dt);
            conexion.Close();
            return dt;
        }
        public static DataSet DropDownPersonas()
        {
            DataSet ds = new DataSet();
            string cadena = "Data Source=santiago;Initial Catalog=progweb1;Integrated Security=true;";
            SqlConnection conexion = new SqlConnection(cadena);
            conexion.Open();
            string query = "select * from persona";
            SqlCommand cmd = new SqlCommand(query, conexion);
            SqlDataAdapter data = new SqlDataAdapter(cmd);
            data.Fill(ds);
            conexion.Close();
            return ds;
        }
        public static void ModificarPersona(Persona persona, int id)
        {
            string cadena = "Data Source=santiago;Initial Catalog=progweb1;Integrated Security=true;";
            SqlConnection conexion = new SqlConnection(cadena);
            conexion.Open();
            string query = "update persona set nombre='" + persona.Nombre + "',apellido='" + persona.Apellido + "',edad='" + persona.Edad + "',ciudad='" + persona.Ciudad + "',Nacimiento='"+persona.Nacimiento+"' where IDPersona='"+id+"';";
            SqlCommand cmd = new SqlCommand(query, conexion);
            cmd.ExecuteNonQuery();
            conexion.Close();
        }
    }

////////////////////////AltaPersona.aspx.cs/////////////////
public partial class AltaPersona : System.Web.UI.Page
    {
        protected void Page_Load(object sender, EventArgs e)
        {
            

        }
        private void guardarPersona()
        {
            Persona persona = new Persona();
            persona.Nombre = txtNombre.Text;
            persona.Apellido = txtApellido.Text;
            persona.Edad = Convert.ToInt32(txtEdad.Text);
            persona.Ciudad = txtCiudad.Text;
            persona.Nacimiento = Convert.ToDateTime(dtp_fechanac.Value); //necesitaba runat=server para verse
            PersonaNego personaNego = new PersonaNego();
            personaNego.GuardarPersona(persona);
            vaciarCampos();

        }
        protected void btnGuardar_Click(object sender, EventArgs e)
        {
            guardarPersona();
        }
        private void llenarGrilla()
        {
            gdvPersona.DataSource = PersonaNego.listaPersonas();
            gdvPersona.DataBind();
        }
        protected void btnMostrarGrilla_Click(object sender, EventArgs e)
        {
            llenarGrilla();
        }
        private void vaciarCampos()
        {
            txtNombre.Text = "";
            txtApellido.Text = "";
            txtEdad.Text = "";
            txtCiudad.Text = "";
            dtp_fechanac.Value = "";
        }
    }
//////////////////////////EditarPersona.aspx/////////////////////////
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">


    <div class="container">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="col-md-12 col-md-offset-2">
                    <asp:DropDownList ID="ddlPersona" runat="server" CssClass="dropdown"></asp:DropDownList>
                    <asp:Button ID="btnSeleccionar" runat="server" Text="Seleccionar" CssClass="btn btn-info" OnClick="btnSeleccionar_Click" />
                </div>
            </div>
            <div class="form-group">
                <asp:Label ID="lblNombre" runat="server" Text="Nombre:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtNombre" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
                <asp:Label ID="lblApellido" runat="server" Text="Apellido:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtApellido" runat="server" CssClass="form-control"></asp:TextBox>
                </div>

            </div>
            <div class="form-group">
                <asp:Label ID="lblEdad" runat="server" Text="Edad:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtEdad" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
                <asp:Label ID="lblCiudad" runat="server" Text="Ciudad:" CssClass="col-md-2 control-label"></asp:Label>
                <div class="col-md-4">
                    <asp:TextBox ID="txtCiudad" runat="server" CssClass="form-control"></asp:TextBox>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" runat="server" class="form-control" id="dtp_fechanac">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12 col-md-offset-2">
                    <asp:Button ID="btnGuardar" runat="server" CssClass="btn btn-info" Text="Confirmar modificacion" OnClick="btnGuardar_Click" />

                </div>
            </div>
        </div>
    </div>
</asp:Content>
	
	////////////////////////////EditarPersona.aspx.cs///////////////////////
	public partial class EditarPersona : System.Web.UI.Page
    {
        protected void Page_Load(object sender, EventArgs e)
        {
            if (IsPostBack==false) 
            {
                llenarDropDownList();
            }
        }
        private void llenarDropDownList()
        {
            ddlPersona.DataSource = PersonaNego.DropDownPersonas();
            ddlPersona.DataValueField = "IDPersona";
            ddlPersona.DataTextField = "nombre";
            ddlPersona.DataBind();
            ddlPersona.Items.Insert(0, new ListItem("Elija una opcion...", "0"));
        }
        protected void btnSeleccionar_Click(object sender, EventArgs e)
        {
            llenarFormulario();
        }
        private void llenarFormulario()
        {
            int id = Convert.ToInt32(ddlPersona.SelectedValue);
            if (id > 0)
            {
                DataTable dt = PersonaNego.listaPersonasPorID(id);
                DataRow row = dt.Rows[0];
                txtNombre.Text = Convert.ToString(row[1]);
                txtApellido.Text = Convert.ToString(row[2]);
                txtEdad.Text = Convert.ToString(row[3]);
                txtCiudad.Text = Convert.ToString(row[4]);
                dtp_fechanac.Value = Convert.ToString(row[5]);
            }
            else vaciarCampos();
        }
        protected void btnGuardar_Click(object sender, EventArgs e)
        {
            int id = Convert.ToInt32(ddlPersona.SelectedValue);
            if (id > 0)
            {
                Persona persona = new Persona();
                persona.Nombre = txtNombre.Text;
                persona.Apellido = txtApellido.Text;
                persona.Edad = Convert.ToInt32(txtEdad.Text);
                persona.Ciudad = txtCiudad.Text;
                persona.Nacimiento = Convert.ToDateTime(dtp_fechanac.Value);
                PersonaNego personaNego = new PersonaNego();
                personaNego.ModificarPersona(persona, id);
                vaciarCampos();
                ddlPersona.SelectedValue = "0";
            }
        }
        private void vaciarCampos()
        {
            txtNombre.Text = "";
            txtApellido.Text = "";
            txtEdad.Text = "";
            txtCiudad.Text = "";
            dtp_fechanac.Value = "";
        }
    }
///////////////SITE MASTER///
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-datepicker.css" rel="stylesheet" />

    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/bootstrap-datepicker.js"></script>
    <script src="Scripts/bootstrap-datepicker.es.min.js"></script>
	
	<script>
        $('#dtp_fechanac').datepicker({
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
    </script>
			
			